@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@font-face {
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bg-color-ht{
    background-color: #0d111bd9;
}
.text-color-w{
    color: #f9fafb;
}
body{
    background-color: #f9f9ff;
}
.herofeature{
    background-color: #574de1 ;
    width: 210px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.marginrightline{
    margin-right: 21rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.Fbg{
    background-color: #fafcff;
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.Specialties{
    font-family: 'Poppins', sans-serif;
}
.SpecialtiesText{
    font-size: ;
}

p{
    font-family: 'Manrope', sans-serif; 
}
p.herofeature{
    font-family: 'Poppins', sans-serif; 
}

.hero{
    background-image: url("png/content-image-1566877273544.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#banner {
    position: relative;
    width:100%;
    overflow: hidden;
}
#logo{
    padding-left:-100px;
}

.hero h1 span.typed-text {
    font-weight: normal;
    color:  #010102;
  }
  .hero h1 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .hero h1 span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
.lineh{
    line-height: 1.5;
}

@media (min-width: 1280px) { 
    .boxW{
        width: 30%;
    }
 }

@media only screen and (max-width: 1050px){
    .text-5xl{
        font-size: 75px;
    }
    .text-4xl{
        font-size: 59px;
    }
    .text-3xl, .services{
        font-size: 45px;
    }
    .text-2xl{
        font-size: 40px;
    }
    .text-xl{
        font-size: 40px;
    }
    .text-sm{
        font-size: 19px;
    }
    .text-hf, .Specialties, .lm{
        font-size: 25px;
    }
    .text-portfolio{
        font-size: 22px;
    }
    .herofeature{
        width: 290px;
    }
    .p-service{
        font-size: 25px;
        padding-left: 16px;
    }
    .paddinghero{
        padding-left: 0px;
        padding-right: 0px;
    }
    .margin-phone{
        margin-top: 25px;
    }
    .margin-p-phone{
        margin-top: 35px;
    }
    .pg{
        font-size: 30px;
    }
    svg{
        display: block;
        margin: auto;
    }
}